Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py

provision: reload the firewall only once
  src/utils/resources.py
Due: test-app-resources

same for deprovisionning: reload once
  src/utils/resources.py
Due: test-app-resources

undo an autoformater edit
  src/utils/resources.py
Due: test-app-resources

Update getopts to accept arguments that are valid arguments to echo
  helpers/getopts
Due: test-helpers

remove now unused 'reload_only_if_change' stuff
  src/firewall.py
Due: test-i18n-keys

remove now unused 'changed' stuff
  src/firewall.py
Due: test-i18n-keys

Fix invalid escape sequence?
  maintenance/autofix_locale_format.py
Due: none

Attempt to fix mypy ?
  src/utils/system.py
Due: none

[fix] Forbidden keywords config panel
  src/utils/form.py
Due: none

do not enable a service disabled by the user
  helpers/systemd
Due: test-helpers

also handle 'reload_or_restart' and 'restart'
  helpers/systemd
Due: test-helpers

Update helpers/systemd
  helpers/systemd
Due: test-helpers

enable the $app service during install
  helpers/systemd
Due: test-helpers

Allow to force-adding aliases for special groups
  share/actionsmap.yml
  src/user.py
Due: test-actionmap, test-user-group, test-i18n-keys

helpers: Add a --jinja option to ynh_add_config
  debian/control
  helpers/utils
  tests/test_helpers.d/ynhtest_templating.sh
  tests/test_helpers.sh
Due: test-helpers

rework top-level helpers
  helpers/helpers
Due: test-helpers

Create versionned directories of the helpers
  debian/install
  helpers/helpers
  helpers/helpers.v1.d/apps
  helpers/helpers.v1.d/apt
  helpers/helpers.v1.d/backup
  helpers/helpers.v1.d/config
  helpers/helpers.v1.d/fail2ban
  helpers/helpers.v1.d/getopts
  helpers/helpers.v1.d/go
  helpers/helpers.v1.d/hardware
  helpers/helpers.v1.d/logging
  helpers/helpers.v1.d/logrotate
  helpers/helpers.v1.d/mongodb
  helpers/helpers.v1.d/multimedia
  helpers/helpers.v1.d/mysql
  helpers/helpers.v1.d/network
  helpers/helpers.v1.d/nginx
  helpers/helpers.v1.d/nodejs
  helpers/helpers.v1.d/permission
  helpers/helpers.v1.d/php
  helpers/helpers.v1.d/postgresql
  helpers/helpers.v1.d/redis
  helpers/helpers.v1.d/ruby
  helpers/helpers.v1.d/setting
  helpers/helpers.v1.d/string
  helpers/helpers.v1.d/systemd
  helpers/helpers.v1.d/user
  helpers/helpers.v1.d/utils
  helpers/helpers.v1.d/vendor/docker-image-extract/LICENSE
  helpers/helpers.v1.d/vendor/docker-image-extract/README.md
  helpers/helpers.v1.d/vendor/docker-image-extract/docker-image-extract
  helpers/helpers.v1.d/vendor/n/LICENSE
  helpers/helpers.v1.d/vendor/n/README.md
  helpers/helpers.v1.d/vendor/n/n
  share/helpers
Due: test-helpers

YNH_APP_HELPERS_DIR -> YNH_HELPERS_DIR
  helpers/helpers
  helpers/helpers.v1.d/nodejs
  helpers/helpers.v1.d/utils
Due: test-helpers

apps: auto-define YNH_HELPERS_VERSION from a new 'helpers_version' key in the manifest's [integration] section, or fallback to the 'packaging_format' info
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Add new versions of helpers. Based on bash-modules.
  helpers/helpers.v2.d/apps
  helpers/helpers.v2.d/bash-modules/arguments.sh
  helpers/helpers.v2.d/bash-modules/array.sh
  helpers/helpers.v2.d/bash-modules/cd_to_bindir.sh
  helpers/helpers.v2.d/bash-modules/date.sh
  helpers/helpers.v2.d/bash-modules/import.sh
  helpers/helpers.v2.d/bash-modules/log.sh
  helpers/helpers.v2.d/bash-modules/log_run.sh
  helpers/helpers.v2.d/bash-modules/meta.sh
  helpers/helpers.v2.d/bash-modules/renice.sh
  helpers/helpers.v2.d/bash-modules/settings.sh
  helpers/helpers.v2.d/bash-modules/strict.sh
  helpers/helpers.v2.d/bash-modules/string.sh
  helpers/helpers.v2.d/bash-modules/timestamped_log.sh
  helpers/helpers.v2.d/bash-modules/unit.sh
  helpers/helpers.v2.d/fail2ban
  helpers/helpers.v2.d/import_bash-modules
  helpers/helpers.v2.d/setting
  helpers/helpers.v2.d/systemd
  helpers/helpers.v2.d/user
Due: none

helpers: we need helpers.v2.d to be a symlink to helpers.v1.d?
  helpers/helpers.v2.d
Due: test-helpers

:art: Format Python code with Black
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Fix helpers: actually that might be a bad idea to read arguments as if `source helpers` has no arguments passed, $@ is the main script arguments.
  helpers/helpers
Due: test-helpers

helpers: copy v1 helpers to new v2.1
  helpers/helpers.v2.1.d/apps
  helpers/helpers.v2.1.d/apt
  helpers/helpers.v2.1.d/backup
  helpers/helpers.v2.1.d/config
  helpers/helpers.v2.1.d/fail2ban
  helpers/helpers.v2.1.d/getopts
  helpers/helpers.v2.1.d/go
  helpers/helpers.v2.1.d/hardware
  helpers/helpers.v2.1.d/logging
  helpers/helpers.v2.1.d/logrotate
  helpers/helpers.v2.1.d/mongodb
  helpers/helpers.v2.1.d/multimedia
  helpers/helpers.v2.1.d/mysql
  helpers/helpers.v2.1.d/network
  helpers/helpers.v2.1.d/nginx
  helpers/helpers.v2.1.d/nodejs
  helpers/helpers.v2.1.d/permission
  helpers/helpers.v2.1.d/php
  helpers/helpers.v2.1.d/postgresql
  helpers/helpers.v2.1.d/redis
  helpers/helpers.v2.1.d/ruby
  helpers/helpers.v2.1.d/setting
  helpers/helpers.v2.1.d/string
  helpers/helpers.v2.1.d/systemd
  helpers/helpers.v2.1.d/user
  helpers/helpers.v2.1.d/utils
  helpers/helpers.v2.1.d/vendor/docker-image-extract/LICENSE
  helpers/helpers.v2.1.d/vendor/docker-image-extract/README.md
  helpers/helpers.v2.1.d/vendor/docker-image-extract/docker-image-extract
  helpers/helpers.v2.1.d/vendor/n/LICENSE
  helpers/helpers.v2.1.d/vendor/n/README.md
  helpers/helpers.v2.1.d/vendor/n/n
Due: none

helpers 2.1: backport most of the bookworm changes
  helpers/helpers.v2.1.d/config
  helpers/helpers.v2.1.d/mysql
  helpers/helpers.v2.1.d/php
  helpers/helpers.v2.1.d/setting
  helpers/helpers.v2.1.d/utils
Due: none

helpers 2.1: drop support for 'legacy args' (positionals) in helpers
  helpers/helpers.v2.1.d/apps
  helpers/helpers.v2.1.d/apt
  helpers/helpers.v2.1.d/backup
  helpers/helpers.v2.1.d/config
  helpers/helpers.v2.1.d/fail2ban
  helpers/helpers.v2.1.d/getopts
  helpers/helpers.v2.1.d/go
  helpers/helpers.v2.1.d/hardware
  helpers/helpers.v2.1.d/logging
  helpers/helpers.v2.1.d/logrotate
  helpers/helpers.v2.1.d/mongodb
  helpers/helpers.v2.1.d/multimedia
  helpers/helpers.v2.1.d/mysql
  helpers/helpers.v2.1.d/network
  helpers/helpers.v2.1.d/nodejs
  helpers/helpers.v2.1.d/permission
  helpers/helpers.v2.1.d/php
  helpers/helpers.v2.1.d/postgresql
  helpers/helpers.v2.1.d/ruby
  helpers/helpers.v2.1.d/setting
  helpers/helpers.v2.1.d/string
  helpers/helpers.v2.1.d/systemd
  helpers/helpers.v2.1.d/user
  helpers/helpers.v2.1.d/utils
Due: none

helpers 2.1: remove unecessary --app=$app in internals ynh_app_setting_get/set calls
  helpers/helpers.v2.1.d/apps
  helpers/helpers.v2.1.d/apt
  helpers/helpers.v2.1.d/backup
  helpers/helpers.v2.1.d/config
  helpers/helpers.v2.1.d/go
  helpers/helpers.v2.1.d/mongodb
  helpers/helpers.v2.1.d/mysql
  helpers/helpers.v2.1.d/nodejs
  helpers/helpers.v2.1.d/php
  helpers/helpers.v2.1.d/postgresql
  helpers/helpers.v2.1.d/ruby
Due: none

helpers 2.1: remove support for __NAME__ and __NAMETOCHANGE__ replaced by $app in templates
  helpers/helpers.v2.1.d/utils
Due: none

helpers 2.1: Drop support for old .src format in ynh_setup_source
  helpers/helpers.v2.1.d/utils
Due: none

helpers 2.1: rework argument parsing comment to improve readability, consistency
  helpers/helpers.v2.1.d/apps
  helpers/helpers.v2.1.d/apt
  helpers/helpers.v2.1.d/backup
  helpers/helpers.v2.1.d/fail2ban
  helpers/helpers.v2.1.d/go
  helpers/helpers.v2.1.d/hardware
  helpers/helpers.v2.1.d/logging
  helpers/helpers.v2.1.d/logrotate
  helpers/helpers.v2.1.d/mongodb
  helpers/helpers.v2.1.d/multimedia
  helpers/helpers.v2.1.d/mysql
  helpers/helpers.v2.1.d/network
  helpers/helpers.v2.1.d/nodejs
  helpers/helpers.v2.1.d/permission
  helpers/helpers.v2.1.d/php
  helpers/helpers.v2.1.d/postgresql
  helpers/helpers.v2.1.d/ruby
  helpers/helpers.v2.1.d/setting
  helpers/helpers.v2.1.d/string
  helpers/helpers.v2.1.d/systemd
  helpers/helpers.v2.1.d/user
  helpers/helpers.v2.1.d/utils
Due: none

helpers 2.1: drop ynh_find_port, ynh_port_available, ynh_validate_ip4/6, keep only ynh_validate_ip
  helpers/helpers.v2.1.d/network
  helpers/helpers.v2.1.d/utils
Due: none

helpers 2.1: fix indent
  helpers/helpers.v2.1.d/apps
Due: none

helpers 2.1: simplify the apt extra repo clusterfuck / unused args etc
  helpers/helpers.v2.1.d/apt
Due: none

helpers 2.1: remove packaging v1 ynh_backup_before_upgrade and ynh_restore_upgradebackup, handled by core in packaging v2
  helpers/helpers.v2.1.d/backup
Due: none

helpers 2.1: remove legacy --nonappend/--non-append arg in logrotate helper
  helpers/helpers.v2.1.d/logrotate
Due: none

helpers 2.1: remove legacy ynh_psql_test_if_first_run
  helpers/helpers.v2.1.d/postgresql
Due: none

helpers 2.1: remove legacy ynh_webpath_available and ynh_webpath_register
  helpers/helpers.v2.1.d/setting
Due: none

helpers 2.1: use positional args for ynh_normalize_url_path
  helpers/helpers.v2.1.d/string
Due: none
