Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: before-install
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-resources:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-changeurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-backuprestore:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-permission:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-settings:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-user-group:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-regenconf:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

Add option to avoid to wait for dpkg free if not needed
  helpers/apt
Due: test-helpers

Remove optional flag wait-dpkg-free
  helpers/apt
Due: test-helpers

fix a typo
  helpers/utils
Due: test-helpers

Move recursive_apply directly where it's used, having a small algorithms.py just for this is too convoluted
  src/utils/algorithms.py
  src/utils/resources.py
Due: test-app-resources

:art: Format Python code with Black
  src/utils/resources.py
Due: test-app-resources

First draft for migrate_to_bookworm
  src/migrations/0027_migrate_to_bookworm.py
  src/tools.py
  src/utils/system.py
Due: test-i18n-keys

Fix and enh variables for app resources
  src/utils/resources.py
Due: test-app-resources

perf: add cache for system utils that fetch debian_version, debian_version_id, system_arch, system_virt
  src/utils/system.py
Due: none

app resources: add __YNH_DEBIAN_VERSION_ID__ in available variable, corresponing to debian number (11, 12, ...)
  src/utils/resources.py
Due: test-app-resources

Update changelog for 11.2.11
  debian/changelog
Due: none

Missing import oopsi
  src/utils/resources.py
Due: test-app-resources

Update changelog for 11.2.11.1
  debian/changelog
Due: none

Zgrompf
  src/utils/resources.py
Due: test-app-resources

Update changelog for 11.2.11.2
  debian/changelog
Due: none

the manager is not supposed to be null
  src/utils/resources.py
Due: test-app-resources

Update resources.py: fix edge case when parsing app ustream version from resource manager
  src/utils/resources.py
Due: test-app-resources

Update resources.py
  src/utils/resources.py
Due: test-app-resources

Revert "Protect more path on ynh secure remove"
  helpers/utils
Due: test-helpers

helpers: fix 'ls: cannot access <folder> No such file or directory' errors on CI
  helpers/utils
Due: test-helpers

Upgrade n to v
  helpers/vendor/n/n
Due: none

Update 11.2.11.3
  debian/changelog
Due: none

get the root domain instead of his closest parent
  src/certificate.py
Due: test-i18n-keys

#2128 adding `issuewild`
  src/dns.py
Due: test-dns, test-i18n-keys

Split log rm commands into separate shells
  src/tools.py
Due: test-i18n-keys

Allow users to access their own domain portal without app permission
  src/authenticators/ldap_ynhuser.py
Due: test-ldapauth

mail: attempt to move to opendkim instead of rspamd for dkim signing/verify
  conf/opendkim/opendkim.conf
  conf/postfix/main.cf
  conf/rspamd/milter_headers.conf
  conf/yunohost/services.yml
  debian/control
  hooks/conf_regen/19-postfix
  hooks/conf_regen/30-opendkim
  hooks/conf_regen/31-rspamd
Due: none

i18n: fix policy for ... vs … + reuniformize locales
  locales/ar.json
  locales/ca.json
  locales/cs.json
  locales/de.json
  locales/eo.json
  locales/es.json
  locales/eu.json
  locales/fa.json
  locales/fr.json
  locales/gl.json
  locales/hi.json
  locales/id.json
  locales/it.json
  locales/ja.json
  locales/nb_NO.json
  locales/nl.json
  locales/oc.json
  locales/pl.json
  locales/pt.json
  locales/ru.json
  locales/sk.json
  locales/te.json
  locales/tr.json
  locales/uk.json
  locales/zh_Hans.json
  maintenance/autofix_locale_format.py
Due: autofix-translated-strings

Translated using Weblate (French)
  locales/fr.json
Due: autofix-translated-strings

[CI] Reformat / remove stale translated strings
  locales/en.json
  locales/fr.json
Due: autofix-translated-strings, test-i18n-keys

i18n: accept U+202F as an okay char
  locales/fr.json
  maintenance/autofix_locale_format.py
Due: autofix-translated-strings

:art: Format Python code with Black
  maintenance/autofix_locale_format.py
Due: none

added SSH key mention in failed ssh connection warning message
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

i18n: remove '/#/" in docs URL
  locales/en.json
Due: autofix-translated-strings, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
