Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py

helpers.v2.1/utils: ynh_setup_source : replace --full_replace with --merge_with_existing, making cleanup before installation the default behaviour.
  helpers/helpers.v1.d/sources
Due: none

helpers.v2.1: Add ynh_in_ci_tests to check if the scripts are running in CI or not
  helpers/helpers.v1.d/sources
Due: none

ynh_safe_rm: Check if target is a symlink
  helpers/helpers.v2.1.d/utils
Due: none

Rework _ynh_apply_default_permissions, only check if target is a child of install_dir.
  helpers/helpers.v2.1.d/utils
Due: none

ynh_setup_source: apply default perms *after* extracting files to hopefully remove the need to manually chown/chmod
  helpers/helpers.v2.1.d/sources
Due: none

Proper 'if' cases to distinguish between $install_dir vs regular files in $install_dir and $data_dir
  helpers/helpers.v2.1.d/utils
Due: none

Properly handle case where $parent is empty to simplify condition
  helpers/helpers.v2.1.d/utils
Due: none

Update helpers/helpers.v2.1.d/utils: use regex matching to check if path is child from a parent path
  helpers/helpers.v2.1.d/utils
Due: none

Only set www-data as group for webapps
  helpers/helpers.v2.1.d/utils
Due: none

Infer the necessity to use www-data as group from the presence of alias or root in nginx.conf
  helpers/helpers.v2.1.d/utils
Due: none

Also handle files in /etc/$app
  helpers/helpers.v2.1.d/utils
Due: none

Use the group defined in the manifest by default
  helpers/helpers.v2.1.d/utils
Due: none

helpers2.1: in logrotate, make sure to also chown $app the log dir
  helpers/helpers.v2.1.d/logrotate
Due: none

helpers2.1: forgot to rename the apt call in mongodb helpers
  helpers/helpers.v2.1.d/mongodb
Due: none

Update changelog for 11.2.18
  debian/changelog
Due: none

Fix getopts error handling ...
  helpers/helpers.v2.1.d/getopts
Due: none

:art: Format Python code with Black
  src/service.py
Due: test-service, test-i18n-keys

helpers2.1: wrmbgl
  helpers/helpers.v2.1.d/utils
Due: none

:art: Format Python code with Black
  src/app.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

automatically ignore the service in diagnosis if it has been deactivated with the ynh cli
  src/service.py
Due: test-service, test-i18n-keys

Revert "automatically ignore the service in diagnosis if it has been deactivated with the ynh cli"
  src/service.py
Due: test-service, test-i18n-keys

helpers2.1: also run _ynh_apply_default_permissions in ynh_restore to be consistent (also because the user uid on the new system may be different than in the archive etc)
  helpers/helpers.v2.1.d/backup
Due: none

Update changelog for 11.2.19
  debian/changelog
Due: none

helpers2.1: zgrblg
  helpers/helpers.v2.1.d/go
Due: none

helpers2.1: fix automigration of phpversion to php_version
  helpers/helpers.v2.1.d/php
  helpers/helpers.v2.1.d/setting
Due: none

Test resources with influxdb instead of yarn that is installed by default now
  src/tests/test_app_resources.py
Due: none

helpers2.1: change source patches location + raise an error instead of a warning when a patch fails to apply on CI
  helpers/helpers.v2.1.d/sources
Due: none

change an irrelevant error to a warning
  src/diagnosis.py
Due: test-i18n-keys

Update tools.py: use _run_service_command to enable+start yunohost-firewall during postinstall and prevent a warning about lack of diagnosis ignore rule
  src/tools.py
Due: test-i18n-keys

Update diagnosis.py: improve warning to make it more explicit when called from another context
  src/diagnosis.py
Due: test-i18n-keys

Update diagnosis.py: gotta "return" now if the key doesn't exist, otherwise the next code fails
  src/diagnosis.py
Due: test-i18n-keys

Update diagnosis.py: more messages improvement
  src/diagnosis.py
Due: test-i18n-keys

Update service.py: typo
  src/service.py
Due: test-service, test-i18n-keys

helpers2.1: zzzz
  helpers/helpers.v2.1.d/utils
Due: none

helpers2.1: logging tweak in ynh_die
  helpers/helpers.v2.1.d/logging
Due: none

helpers2.1: remove the ynh_clean_setup mechanism underused/useless..
  helpers/helpers.v2.1.d/utils
Due: none

add support for downloading tar-files
  helpers/helpers.v2.1.d/sources
Due: none
