Repository YunoHost/yunohost: changes, and which GitLab CI jobs are due for each by the changed paths.
All: autofix-translated-strings, test-actionmap, test-helpers, test-domains, test-dns, test-apps, test-appscatalog, test-appurl, test-questions, test-app-config, test-app-resources, test-changeurl, test-backuprestore, test-permission, test-settings, test-user-group, test-regenconf, test-service, test-ldapauth, test-i18n-keys

autofix-translated-strings:
  stage: bot
  image: before-install
  needs: []
  before_script:
  - git config --global user.email "yunohost@yunohost.org"
  - git config --global user.name "$GITHUB_USER"
  - hub clone --branch ${CI_COMMIT_REF_NAME} "https://$GITHUB_TOKEN:x-oauth-basic@github.com/YunoHost/yunohost.git" github_repo
  ...

test-actionmap:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-helpers:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-domains:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-dns:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-apps:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appscatalog:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-appurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-questions:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-config:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-app-resources:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-changeurl:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-backuprestore:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-permission:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-settings:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-user-group:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

test-regenconf:
  stage: test
  image: after-install
  variables:
    PYTEST_ADDOPTS: --color=yes
  before_script:
  - - apt-get update -o Acquire::Retries=3
  ...

Translated using Weblate (Galician)
  locales/gl.json
Due: autofix-translated-strings

Add domains_add bulk operation
  src/certificate.py
  src/domain.py
  src/tests/test_sso_and_portalapi.py
Due: test-domains, test-i18n-keys

Add domains_remove bulk operation
  src/domain.py
  src/tests/test_sso_and_portalapi.py
Due: test-domains, test-i18n-keys

Add users_remove bulk operation
  src/tests/test_sso_and_portalapi.py
  src/user.py
Due: test-user-group, test-i18n-keys

App install/remove now has sync_perm setting
  src/app.py
  src/tests/test_sso_and_portalapi.py
Due: test-apps, test-appurl, test-app-config, test-app-resources, test-changeurl, test-i18n-keys

Yolodraft: handle metronome as an app
  conf/dnsmasq/domain.tpl
  conf/metronome/domain.tpl.cfg.lua
  conf/metronome/metronome.cfg.lua
  conf/metronome/modules/ldap.lib.lua
  conf/metronome/modules/mod_auth_ldap2.lua
  conf/metronome/modules/mod_legacyauth.lua
  conf/metronome/modules/mod_storage_ldap.lua
  conf/metronome/modules/vcard.lib.lua
  conf/nginx/server.tpl.conf
  conf/slapd/db_init.ldif
  conf/ssl/openssl.cnf
  conf/yunohost/services.yml
  debian/install
  hooks/backup/27-data_xmpp
  hooks/conf_regen/12-metronome
  hooks/conf_regen/15-nginx
  hooks/restore/27-data_xmpp
  locales/en.json
  share/actionsmap.yml
  share/config_domain.toml
  src/certificate.py
  src/diagnosers/12-dnsrecords.py
  src/dns.py
  src/domain.py
  src/dyndns.py
  src/permission.py
  src/service.py
  src/user.py
Due: autofix-translated-strings, test-actionmap, test-domains, test-dns, test-permission, test-user-group, test-service, test-i18n-keys

doc: Remove internal/packagingv1 helpers from helpers doc
  doc/generate_helper_doc.py
  helpers/apt
  helpers/backup
  helpers/fail2ban
  helpers/hardware
  helpers/mysql
  helpers/network
  helpers/permission
  helpers/postgresql
  helpers/setting
  helpers/string
  helpers/user
  helpers/utils
Due: test-helpers

:art: Format Python code with Black
  doc/generate_helper_doc.py
Due: none

Document ynh_add_source --full_replace=1
  helpers/utils
Due: test-helpers

Actually remove the newly added repo.
  helpers/apt
Due: test-helpers

fix ldap write access for admin users
  conf/slapd/config.ldif
Due: none

Add Go Helper to the core
  helpers/go
Due: test-helpers

Update helpers/go
  helpers/go
Due: test-helpers

Create redis
  helpers/redis
Due: test-helpers

Add mongodb
  helpers/mongodb
Due: test-helpers

Add ruby
  helpers/ruby
Due: test-helpers

Update mongodb
  helpers/mongodb
Due: test-helpers

Update go
  helpers/go
Due: test-helpers

Update ynh_mysql_dump_db in mysql helper
  helpers/mysql
Due: test-helpers

Update ynh_mysql_connect_as in mysql helper
  helpers/mysql
Due: test-helpers

Add diagnoser about rfkill blocking Wi-Fi card
  locales/en.json
  locales/fr.json
  src/diagnosers/00-basesystem.py
Due: autofix-translated-strings, test-i18n-keys

Enhance strings for rfkill diagnoser
  locales/en.json
  locales/fr.json
Due: autofix-translated-strings, test-i18n-keys

Appease linter
  src/diagnosers/00-basesystem.py
Due: test-i18n-keys

Prevent yet another Node and Corepack madness
  helpers/nodejs
Due: test-helpers

Update main.cf to allow aliases for sender addresses of apps
  conf/postfix/main.cf
Due: none

Update helpers/ruby
  helpers/ruby
Due: test-helpers

Update helpers/mongodb
  helpers/mongodb
Due: test-helpers

Update helpers/redis
  helpers/redis
Due: test-helpers

Update ruby: simplify messages, fix bash mess
  helpers/ruby
Due: test-helpers

Update mysql: add default_character_set option to ynh_mysql_dump_db
  helpers/mysql
Due: test-helpers

Delete helpers/mongodb, to be readded in another PR
  helpers/mongodb
Due: test-helpers

Revert "Delete helpers/mongodb, to be readded in another PR"
  helpers/mongodb
Due: test-helpers

Update log.py: fix fstring with no arg
  src/log.py
Due: test-i18n-keys

helpers/ruby: fix unbound variable
  helpers/ruby
Due: test-helpers

Remove useless dict lookup, as the keys are always the same two
  src/utils/configpanel.py
Due: none

Update 11.2.12
  debian/changelog
Due: none

doc: fix gitlab helper/resource doc automagic PR because doc structure changed
  .gitlab/ci/doc.gitlab-ci.yml
Due: none

Path conditions:
  autofix-translated-strings: any of: locales/*
  test-actionmap: any of: share/actionsmap.yml
  test-helpers: any of: helpers/*
  test-domains: any of: src/domain.py
  test-dns: any of: src/dns.py, src/utils/dns.py
  test-apps: any of: src/app.py
  test-appscatalog: any of: src/app_calalog.py
  test-appurl: any of: src/app.py
  test-questions: any of: src/utils/config.py
  test-app-config: any of: src/app.py, src/utils/config.py
  test-app-resources: any of: src/app.py, src/utils/resources.py
  test-changeurl: any of: src/app.py
  test-backuprestore: any of: src/backup.py
  test-permission: any of: src/permission.py
  test-settings: any of: src/settings.py
  test-user-group: any of: src/user.py
  test-regenconf: any of: src/regenconf.py
  test-service: any of: src/service.py
  test-ldapauth: any of: src/authenticators/*.py
  test-i18n-keys: any of: locales/en.json, src/*.py, src/diagnosers/*.py
